<div th:replace="shared/header"></div>


<form action="/product" method="post" align="left">
	<div class="form-group">
		<label>product Name</label> 
		<input type="text" name="name"  th:value=${product.name} class="form-control" required="required"/>
	</div>
	</br>
	<div class="form-group">
		<label>Brand Name</label> 
		<input type="text" name="brand" th:value=${product.brand} class="form-control" required="required"/>
	</div>
	</br>
	<div class="form-group">
		<label>Made In</label> 
		<input type="text" name="madein" th:value=${product.madein} class="form-control" required="required"/>
	</div>
	</br>
	<div class="form-group">
		<label>Price</label> 
		<input type="text" name="price" th:value=${product.price} class="form-control" required="required"/>
	</div>
	</br>
	<input type="hidden" name="id" th:value="${product.id}"/>
	<button type="submit" class="btn btn-success">Save</button>
	<a href="/product" class="btn btn-danger">Back</a>
</form>


<div th:replace="shared/footer"></div>